<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <style>
    .qualifications-box {
      float: right;
      font-size: 11px;
      color: #808080;
      list-style-type: none;
      margin: 0;
    }
    .qualifications {
      text-align: end;
    }
  </style>
  <body>
    <div style="height: 70px">
      <img src="https://remassis.s3.amazonaws.com/gallery/static/logo.png" />
      <div style="float: right">
        <h3 style="margin: 0">Dr. John Doe, Consultant</h3>
        <ul class="qualifications-box">
          <li class="qualifications">Dermatologist</li>
          <li class="qualifications">MBBS in Dermat</li>
          <li class="qualifications">Gandhi Medical College, Bhopal</li>
        </ul>
      </div>
    </div>
    <hr />
  </body>
</html>
